.n-h-container {
  height: 56px;
  background-color: #1d1d1d;
}
.n-h-title {
  font-size: 20px;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #fff;
}
