.f-hf {
  height: 100%;
}
.f-wf {
  width: 100%;
}
.f-pr {
  position: relative;
}
.f-pa {
  position: absolute;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-ib {
  display: inline-block;
}
.f-tc {
  text-align: center;
}
.f-b {
  display: block;
}
.f-clear {
  clear: both;
}
.f-fs12 {
  font-size: 0.12rem;
}
.f-flex {
  display: flex;
}
.f-jcc {
  justify-content: center;
}
.f-aic {
  align-items: center;
}
.f-drr {
  flex-direction: row;
}
.f-drc {
  flex-direction: column;
}
.f-jc-between {
  justify-content: space-between;
}
.f-jc-start {
  justify-content: flex-start;
}
.f-nowrap {
  flex-wrap: nowrap;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-clear:after {
  content: '';
  clear: both;
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
}
.f-clear {
  zoom: 1;
}
.f-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.f-bottom-line:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ebebeb;
  -webkit-transform: scaleY(0.667);
  transform: scaleY(0.667);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.f-top-line:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: #ebebeb;
  -webkit-transform: scaleY(0.667);
  transform: scaleY(0.667);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.f-right-line:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ebebeb;
  -webkit-transform: scaleX(0.667);
  transform: scaleX(0.667);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.f-left-line:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #ebebeb;
  -webkit-transform: scaleX(0.667);
  transform: scaleX(0.667);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.btn-primary {
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.8);
  background: -webkit-linear-gradient(#6788d0, #4364bb);
  background: linear-gradient(#6788d0, #4364bb);
  padding: 1px;
  box-sizing: border-box;
}
.app-1px {
  position: relative;
}
.app-1px:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
  z-index: 10;
  border-radius: 0.1rem;
}
.btn {
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  height: 33px;
  line-height: 34px;
  overflow: hidden;
  text-align: center;
  width: 153px;
}
.shadow {
  -webkit-box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 10px 20px -10px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 10px 20px -10px rgba(0, 0, 0, 0.04);
  box-shadow: 0 9px 30px -6px rgba(0, 0, 0, 0.2), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 18px 20px -10px rgba(0, 0, 0, 0.04), 0 10px 20px -10px rgba(0, 0, 0, 0.04);
}
.animate-shake {
  animation: shake 0.6s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(-18px, 0, 0);
    -webkit-transform: translate3d(-18px, 0, 0);
  }
  40% {
    transform: translate3d(18px, 0, 0);
    -webkit-transform: translate3d(18px, 0, 0);
  }
  60% {
    transform: translate3d(-9px, 0, 0);
    -webkit-transform: translate3d(-9px, 0, 0);
  }
  80% {
    transform: translate3d(9px, 0, 0);
    -webkit-transform: translate3d(9px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
